<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConsoleApplication1.Properties.Settings.SqlDatabaseProjectConnectionString"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SqlDatabaseProject;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="ConsoleApplication1.Properties.Settings.SqlDatabaseProjectConnectionString1"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SqlDatabaseProject;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>